.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/
data/*RData
output/
code/.snakemake/*
code/.snakemake/metadata/*
code/._snakefile
plots
plots/*
plotss
plotss/*
code/extra/*
code/workflowr/*
code/scripts/plots_scripts/plots_extra
code/scripts/plots_scripts/plots_extra/*
code/scripts/processing_scripts/*
docs
code/._submit_snakemake.sh
code/._slurm-1229984.out
code/._config.yaml
code/._.DS_Store
code/.snakemake
code/workflowr
dump
code_copy
code/dump
data_copy
output_copy
K_ReadMe.R
